body {
  background-color: rgb(78, 78, 78);
}


.box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 10% auto auto auto;
  border: 4px solid black;
  border-radius: 100px;
  height: 17em;
  min-width: 600px;
  max-width: 1000px;
  overflow: visible;
}

#header {
  font-family: helvetica;
  font-weight: 300;

}

#text {
  position: relative;
  bottom: 10px;
  font-family: charter, serif;
  font-size: 25px;
  /* padding: auto 5% 10% 5%; */
  margin: 0 12px 0 12px;
  text-align: center;
  transition: opacity 2s;
}

#author {
  /* border: 1px solid black; */
  position: relative;
  font-family: charter, serif;
  font-size: 20px;
  text-align: right;
  left: 100px;
  bottom: 8px;
}

a {
  color: rgb(16, 204, 165);

}

a:hover {
  color: rgb(166, 67, 3);
}

#tweet-quote {
  position: relative;
  font-size: 36px;
  bottom: 5px;
  /* color: rgb(37, 210, 247); */
}

.buttons {
  display: flex;
  width: 80%;
  /* border: 1px solid black; */
  justify-content: space-between;
}

#new-quote {

    width: 120px;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(98, 222, 196);
    color: white;
    font-size: 16px;
    font-family: helvetica;
    font-weight: 100;
    padding-top: 4px;

    margin-bottom: 14px;

}

#new-quote:hover {
  background-color: rgb(166, 67, 3);
}

#text, #author {
  transition: opacity 1s ease;
}

.text-show {
  opacity: 1;
  /* transition: all 1s ease; */
}

.text-hide {
  opacity: 0;
  /* transition: all 1s ease; */
}
